@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    scrollbar-width: thin;
    scrollbar-color: black rgb(43, 38, 38);
}

img {
    margin-top: 50px;
}
#backdrop{
    margin-top: -70px;
}
.scrolls {
    margin-top: 30px;
}

.registrations-image {
    position: fixed;
    width: 50%;
    max-width: 100%;
    height: auto;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.user_name,
.password {
    border-radius: 30px;
    width: 400px;
    height: 50px;
    border-style: solid;
    text-align: start;
}

h3 {
    font-size: 20px;
}

#header {
    font-size: 23px;
    color: rgb(108, 106, 106);
}

.form-label {
    color: white;
    font-weight: 300;
    font-size: 13px;
    margin-left: 20px;
}
.card{
margin-left: 30px;
background: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: fit-content;
    margin-left: 105px;
}

input[type='text']::placeholder {
    color: grey;
}

.background {
    background-color: black;
}

input[type='password']::placeholder {
    color: grey;
}

.text-danger {
    font-size: 13px;
}

button {
    height: 40px;
}

.password-toggle-icon {
   margin-top: -50px;
   margin-left: 350px;
    cursor: pointer;
    color: #8d8787;
    font-size: 25px;
}

.forgot-password {
    font-size: 15px;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

.forgot-password a {
    color: rgb(205, 200, 200);
}

.forgot-password a:hover {
    color: white;
}

.create-account {
    margin-left: 80px;
    margin-top: -5px;
}

.texting:hover {
    color: grey;
}

#creates {
    font-size: 15px;
    color: rgb(205, 200, 200);
}

.accounts {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.create-account a :hover {
    color: grey;
}

.logos img {
    width: 50px;
    margin-top: -280px;
    margin-left: 20px;
}

#header {
    color: rgb(165, 161, 161);
    font-size: 30px;
    font-family: "Pacifico", cursive;
}

@media only screen and (max-width: 1024px) {
    .user_name,
    .password {
        width: 400px;
        max-width: 100%;
    }

    form {
        margin-left: 30px;
    }

    .create-account {
        margin-left: 70px;
        margin-top: 0px;
    }
    #backdrop{
        margin-top: -50px;
    }
}

@media only screen and (max-width: 768px) {
    .user_name,
    .password {
        width: 400px;
        max-width: 100%;
    }
   
    .background{
        width: 1200px;
    }
    .card{
        width: 100%;

    }

    form {
        margin-left: 30px;
    }

    .create-account {
        margin-left: 80px;
        margin-top: 0px;
    }
    #backdrop{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 426px) {
    .background{
        width: fit-content;
        height: 100%;
    }

    .registrations-image{
    display: none;
}

    form {
        margin-left: 0px;
    }

}

@media only screen and (max-width: 320px) {

body{
    background-color: black;
}

}

.btn, .btn2 {
    width: 200px;
    height: 50px;
    margin-left: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 10px;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
    background-size: 600%;
    animation: anime 16s linear infinite;
}

.btn2 {
    position: absolute;
    margin-top: -70px;
    z-index: -1;
    filter: blur(30px);
    opacity: 0.8;
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

