.password-toggle-icon-one{
    margin-top: -52px;
    margin-left: 300px;
     cursor: pointer;
     color: #8d8787;
     font-size: 25px;
}

#range{
    width: 350px;
    border-radius: 30px;
    text-align: start;

}

#range1{
    width: 350px;
    border-radius: 30px;
    text-align: start;
}

#createKey{
    width: 190px;
    height: 50px;
    font-size: 18px;
    margin-left: 150px;
    margin-top: 20px;
}

h3{
    color: rgb(200, 197, 197);
    font-size: 25px;
}


.password-image{
    width: 500px;
    height: 500px;
    margin-left: 40px;
    margin-top: 120px;
    animation: float 3s ease-in-out infinite;
    position: fixed;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.ImgLogo{
    height: 50px;
}

#passkey{
    color: rgb(218, 212, 212);
    margin-top: 20px;
}

.containCard{
    margin-top: -50px;
}

@media screen and (max-width:1024px) {
    .password-toggle-icon-one{
        margin-top: -47px;
        margin-left: 330px;
    }
    #createKey{
        width: 190px;
        height: 40px;
        font-size: 16px;
        margin-left: 170px;
        margin-top: 20px;
    }
    .containCard{
        margin-top: -70px;
    }
    .password-image{
        margin-top: 0px;
    }
    #key{
        margin-left: 40px;
    }
    #key1{
        margin-left: 40px;
    }
}

@media screen and (max-width:768px) {
    .password-toggle-icon-one{
        margin-top: -47px;
        margin-left: 250px;
    }
    #createKey{
        margin-left: 0px;
    }
    .containCard{
        margin-top: -20px;
    }
    
    #range{
        margin-left: -60px;
    }
    #range1{
        margin-left: -60px;
    }
    .password-image{
        margin-left: -10px;
        width: 400px;
    }
    #key{
        margin-left: -40px;
    }
    #key1{
        margin-left: -40px;
    }
}

@media screen and (max-width:426px) {
    .password-toggle-icon-one{
        margin-top: -47px;
        margin-left: 300px;
    }
    #createKey{
        margin-left: 0px;
    }
    .containCard{
        margin-top: -20px;
    }
    
    #range{
        margin-left: 0px;

    }
    #range1{
        margin-left: 0px;
    }
    .password-image{
      display: none;
    }
    #key{
        margin-left: 10px;
    }
    #key1{
        margin-left: 10px;
    }
}

@media screen and (max-width:320px) {
    .password-toggle-icon-one{
        margin-top: -50px;
        margin-left: 240px;
    }
    #createKey{
        margin-left: 10px;
    }
    .containCard{
        margin-top: -20px;
    }
    
    #range{
        margin-left: 0px;
        width: 280px;
        height: 50px;

    }
    #range1{
        margin-left: 0px;
        width: 280px;
        height: 50px;
    }
    .password-image{
      display: none;
    }
    #key{
        margin-left: 10px;
    }
    #key1{
        margin-left: 10px;
    }
    #passkey{
        margin-left: 30px;
    }
    #logo1{
        margin-left: -20px;
    }
    .border-dark{
        margin-left: 20px;
    }
    
}