.registrations-images {
  position: fixed;
  width: 50%;
  max-width: 100%;
  margin-top: -20px;
  height: auto;
  animation: float 3s ease-in-out infinite;
}

.contain {
  margin-top: 80px;
}

.head {
  color: rgb(210, 206, 206);
  font-size: 23px;
  margin-top: 50px;
}

#text-input {
  width: 400px;
  height: 50px;
  border-radius: 30px;
  text-align: start;
}

.logoImg {
  width: 50px;
  height: 50px;
}

#logos {
  margin-left: 40px;
}


#submit {
  margin-left: 210px;
}

.touch {
  margin-top: 30px;
}
#form {
  margin-left: 80px;
  margin-top: -30px;

}

@media screen and (max-width:1024px) {
  #form {
    margin-left: 40px;
    margin-top: -30px;

  }

  #text-input {
    margin-left: 0px;
    width: 350px;
    height: 50px;
  }

  .contain {
    margin-top: 10px;
  }

  .registrations-images {
    margin-top: 0px;
    height: auto;
  }

  #logos {
    margin-top: 10px;
  }

  #header {
    margin-top: 10px;
  }

  #submit {
    margin-left: 140px;

  }
}


@media screen and (max-width:768px) {
  #form {
    margin-left: -20px;
    margin-top: -30px;

  }

  #text-input {
    margin-left: 0px;
    width: 350px;
    height: 50px;
  }

  .contain {
    margin-top: 10px;
  }

  .registrations-images {
    margin-top: 0px;
    height: auto;
  }

  #logos {
    margin-top: 10px;
  }

  #header {
    margin-top: 10px;
  }

  #submit {
    margin-left: 140px;

  }
}

@media screen and (max-width:426px) {
  #form {
    margin-left: 0px;
  }

  #text-input {
    margin-left: -30px;
    width: 350px;
    height: 50px;
  }

  .contain {
    margin-top: 50px;
    background: none;
  }

  .registrations-images {
    display: none;
  }

  .head {
    margin-top: 45px;
    margin-left: -60px;
  }

  #logos {
    margin-top: 10px;
  }

  #submit {
    margin-left: 110px;
  }

}

@media screen and (max-width:376px) {
  #form {
    margin-left: 0px;
  }

  #text-input {
    margin-left: -30px;
    width: 350px;
    height: 50px;
  }

  .contain {
    margin-top: 50px;
    background: none;
  }

  .registrations-images {
    display: none;
  }

  .head {
    margin-top: 45px;
    margin-left: -60px;
  }

  #logos {
    margin-top: 10px;
  }

  #header {
    margin-top: 0px;
  }

  #submit {
    margin-left: 110px;

  }
}

@media screen and (max-width:320px) {
  #form {
    margin-left: 0px;
  }

  #text-input {
    margin-left: -20px;
    width: 300px;
    height: 50px;
  }

  .contain {
    margin-top: 50px;
    background: none;
  }

  .registrations-images {
    display: none;
  }

  .head {
    margin-top: 45px;
    margin-left: -60px;
  }

  #logos {
    margin-top: 10px;
    margin-left: -30px;

  }

  #header {
    margin-top: 0px;
    margin-left: -30px;
  }

  #submit {
    margin-left: 70px;

  }

  .form-label {
    margin-left: -20px;

  }
}