
  .title {
    font-weight: 600;
    margin-top: 20px;
    font-size: 24px;
  }
  
  .customBtn {
    border-radius: 0px;
    padding: 10px;
  }
  .imageReg{
margin-top: 20px;
  }

  form input {
    display: inline-block;
    width: 50px; 
    height: 50px; 
    text-align: center;
    margin: 5px; 
    font-size: 18px;
    background-color: black;
    color: white;
  }
  
  form input {
    border: none;
    border: 2px solid #ccc; 
    outline: none;
  }
  
  form input:focus {
    border: 2px solid #007bff;
  }
  
  .otp{
    color: aliceblue;
    font-size: 24px;
    margin-top: 70px;
  }

  .card{
margin-top: 80px;
  }

  #logoImgs{
    margin-left: 30px;
    margin-top: -20px;
  }

  #give{
    margin-left: 160px;
  }

  @media screen and (max-width:1024px) {
    
    .title {
      font-weight: 600;
      margin-top: 20px;
      font-size: 24px;
    }
    
    .customBtn {
      border-radius: 0px;
      padding: 10px;
    }
    .imageReg{
  margin-top: 65px;
    }
  
    form input {
      display: inline-block;
      width: 40px; 
      height: 40px; 
      text-align: center;
      margin: 5px; 
      font-size: 18px;
      margin-left: 20px;
    }
    
    form input {
      border: none;
      border: 2px solid #ccc; 
      outline: none;
    }
    
   #otpverify{
      margin-top: -60px;
   }
    
    .otp{
      color: aliceblue;
      font-size: 24px;
      margin-top: 10px;
    }
  
    .card{
  margin-top: 60px;
    }
  
    #give{
      height: 40px;
      width: 200px;
      font-size: 15px;
      margin-left: 190px;
    }
  
    #logoImgs{
      margin-left: 30px;
      margin-top: 50px;
    }
  
    }
  

  @media screen and (max-width:768px) {
    
  .title {
    font-weight: 600;
    margin-top: 20px;
    font-size: 24px;
  }
  
  .customBtn {
    border-radius: 0px;
    padding: 10px;
  }
  .imageReg{
margin-top: 65px;
  }

  form input {
    display: inline-block;
    width: 40px; 
    height: 40px; 
    text-align: center;
    margin: 4px; 
    font-size: 18px;

  }
  
  form input {
    border: none;
    border: 2px solid #ccc; 
    outline: none;
  }
  
 #otpverify{
    margin-top: -60px;
 }
  
  .otp{
    color: aliceblue;
    font-size: 24px;
    margin-top: 10px;
  }

  .card{
margin-top: 0px;
  }

  #give{
    height: 40px;
    width: 200px;
    font-size: 15px;
    margin-left: 90px;
  }

  #logoImgs{
    margin-left: 30px;
    margin-top: 50px;
  }

  }

  @media screen and (max-width:426px) {
    
    .imageReg{
display: none; 
   }
  
    .otp{
      color: aliceblue;
      font-size: 24px;
      margin-top: 20px;
      margin-left: -50px;
    }
  
    .card{
  margin-top: 30px;
  margin-left: 10px;
    }
  
  
    #logoImgs{
      margin-left: 30px;
      margin-top: 30px;
    }
  
    }

    @media screen and (max-width:376px) {
        .card{
      margin-top: 40px;
      margin-left: -10px;
        }

        #logoImgs{
          margin-left: 30px;
          margin-top: 30px;
        }

        .form-label{
            margin-left: 10px;
        }
      
        }

        @media screen and (max-width:320px) {
          
            form input {
              width: 35px; 
              height: 35px; 
            }
 
            
            .otp{
              color: aliceblue;
              font-size: 24px;
              margin-top: 10px;
            }
          
            .card{
          margin-top: 20px;
            }
          
            #give{
              margin-left: 60px;
            }
          
            #logoImgs{
              margin-left: -20px;
              margin-top: 40px;
            }

            .form-label{
                margin-left: 10px;
            }
          
            }
          